// Variabili
$borders: 1px solid black;

//modal
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  height: 70%;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-x {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  aspect-ratio: 1/1;
  border-radius: 25px;
}

.box-o {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 25px;
}

//game board
.game-area {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 500%;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 30%;
  height: 30%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  .square {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cell1 {
    border-right: $borders;
    border-bottom: $borders;
  }
  .cell2 {
    border-bottom: $borders;
  }
  .cell3 {
    border-left: $borders;
    border-bottom: $borders;
  }
  .cell4 {
    border-right: $borders;
    border-bottom: $borders;
  }
  .cell5 {
    border-bottom: $borders;
  }
  .cell6 {
    border-left: $borders;
    border-bottom: $borders;
  }
  .cell7 {
    border-right: $borders;
  }
  .cell8 {
  }
  .cell9 {
    border-left: $borders;
  }
}
