// Variabili
$borders: 1px solid black;

//Mixin
@mixin cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//game board
.game-area {
  min-height: 100vh;
  @include cell();
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 30%;
  height: 30%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  .cell1 {
    @include cell();
    border-right: $borders;
    border-bottom: $borders;
  }
  .cell2 {
    @include cell();
    border-bottom: $borders;
  }
  .cell3 {
    @include cell();
    border-left: $borders;
    border-bottom: $borders;
  }
  .cell4 {
    @include cell();
    border-right: $borders;
    border-bottom: $borders;
  }
  .cell5 {
    @include cell();
    border-bottom: $borders;
  }
  .cell6 {
    @include cell();
    border-left: $borders;
    border-bottom: $borders;
  }
  .cell7 {
    @include cell();
    border-right: $borders;
  }
  .cell8 {
    @include cell();
  }
  .cell9 {
    @include cell();
    border-left: $borders;
  }
}
